[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    https://dist.plone.org/release/5.2.1/versions.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-01-11 14:22:54.137891
PyYAML = 5.3
argh = 0.26.2
createcoverage = 1.5
entrypoints = 0.3
flake8 = 3.7.9
mccabe = 0.6.1
pathtools = 0.1.2
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.18
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.9.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.40

# Required by:
# ploneconf2016.policy==0.1
collective.easyform = 2.1.3

# Required by:
# ploneconf2016.policy==0.1
collective.fbshare = 0.3.2

# Required by:
# flake8==3.7.9
configparser = 4.0.2

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.8

# Added by buildout at 2020-01-11 15:44:43.528538

# Required by:
# collective.easyform==2.1.3
Products.validation = 2.1.1

# Added by buildout at 2020-01-11 15:52:14.189444

# Required by:
# ploneconf2016.policy==0.1
collective.relatedslider = 0.2

# Added by buildout at 2020-11-16 17:13:05.916880
AccessControl = 5.0
Acquisition = 4.7
AuthEncoding = 4.2
BTrees = 4.7.2
Chameleon = 3.8.1
DateTime = 4.3
DocumentTemplate = 3.3
ExtensionClass = 4.5.0
MultiMapping = 4.1
Paste = 3.5.0
PasteDeploy = 2.1.1
Persistence = 3.0
RestrictedPython = 5.1
SecretStorage = 3.1.2
WSGIProxy2 = 0.4.6
WebOb = 1.8.6
WebTest = 2.0.35
ZConfig = 3.5.0
ZEO = 5.2.2
ZODB = 5.6.0
Zope = 5.0
beautifulsoup4 = 4.9.3
cffi = 1.14.3
check-manifest = 0.40
collective.recipe.omelette = 1.0.0
collective.recipe.template = 2.1
collective.recipe.vscode = 0.1.6
entrypoints = 0.3
flake8 = 3.7.9
jeepney = 0.4.2
keyring = 19.0.2
lxml = 4.5.1
mccabe = 0.6.1
persistent = 4.6.4
plone.recipe.codeanalysis = 3.0.1
plone.recipe.zope2instance = 6.8.0
pycodestyle = 2.5.0
pycparser = 2.20
pyflakes = 2.1.1
python-gettext = 4.0
pytz = 2020.1
roman = 3.3
six = 1.15.0
soupsieve = 2.0.1
toml = 0.10.1
transaction = 3.0.0
waitress = 1.4.4
z3c.pt = 3.3.0
zExceptions = 4.1
zc.lockfile = 2.0
zc.recipe.egg = 2.0.7
zc.recipe.testrunner = 2.1
zdaemon = 4.3
zodbpickle = 2.0.0
zope.annotation = 4.7.0
zope.browser = 2.3
zope.browsermenu = 4.4
zope.browserpage = 4.4.0
zope.browserresource = 4.4
zope.cachedescriptors = 4.3.1
zope.component = 4.6.2
zope.configuration = 4.4.0
zope.container = 4.4.0
zope.contentprovider = 4.2.1
zope.contenttype = 4.5.0
zope.deferredimport = 4.3.1
zope.deprecation = 4.4.0
zope.dottedname = 4.3
zope.event = 4.5.0
zope.exceptions = 4.4
zope.filerepresentation = 5.0.0
zope.globalrequest = 1.5
zope.hookable = 5.0.1
zope.i18n = 4.7.0
zope.i18nmessageid = 5.0.1
zope.interface = 5.1.2
zope.lifecycleevent = 4.3
zope.location = 4.2
zope.pagetemplate = 4.5.0
zope.processlifetime = 2.3.0
zope.proxy = 4.3.5
zope.ptresource = 4.2.0
zope.publisher = 5.2.1
zope.schema = 6.0.0
zope.security = 5.1.1
zope.sequencesort = 4.1.2
zope.site = 4.4.0
zope.size = 4.3
zope.structuredtext = 4.3
zope.tal = 4.4
zope.tales = 5.1
zope.testbrowser = 5.5.1
zope.testing = 4.7
zope.testrunner = 5.2
zope.traversing = 4.4.1
zope.viewlet = 4.2.1

# Required by:
# SecretStorage==3.1.2
cryptography = 2.8
