-r requirements/unreleased.txt
plone.jsonserializer==0.9.7
plone.formwidget.querystring==1.1.10
plone.app.blocks==4.3.2
plone.app.tiles==3.1.2
collective.easyform==3.0.4
plone.app.standardtiles==2.3.2
plone.app.mosaic==2.2.1
src/ploneconf2016.policy
