.documentFirstHeading {
  font-weight: 600;

  &::before {
    width: 50px;
    border-bottom: 3px solid @ploneBlue;
    content: '';
  }
}

.ui.segment {
  p {
    font-size: 1.15rem !important;
  }
}

.ui.container.tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@import 'tito';
