#main .countdown .countdown-inner-wrapper {
  display: grid;

  grid-template-columns: 1fr minmax(var(--aside-column-width), 1fr);
  text-align: center;

  @media (max-width: @computerBreakpoint) {
    grid-template-columns: 1fr;
  }

  aside {
    display: grid;
    padding: 3rem;
    place-content: center;

    h3 {
      margin-bottom: 3rem;
      color: @lightColor;
      font-family: @secondaryFont;

      font-size: 2.5rem;
    }
  }

  article {
    display: grid;
    justify-content: center;
    color: @primaryColor;
    .card();

    .subtitle {
      margin-bottom: 1rem;
      font-size: clamp(2rem, 10vw, 3rem);
      font-weight: lighter;
      text-transform: uppercase;
      @media (min-width: @tabletBreakpoint) {
        font-size: 3rem;
      }
    }

    h2 {
      width: 100%;
      color: @primaryColor;

      font-size: clamp(2rem, 10vw, 4rem);
      text-transform: uppercase;
      @media (min-width: @tabletBreakpoint) {
        font-size: 4rem;
      }
    }

    .timer {
      display: grid;
      margin: 3rem auto 0 auto;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 7rem);
      grid-template-rows: auto auto;
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 7rem);
        row-gap: 2rem;
      }

      div div {
        background-color: @secondaryColor;
        color: @darkColor;
        font-family: @secondaryFont;
        text-transform: uppercase;
      }

      [class$='-n'] {
        padding: 1rem 0;
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      [class$='-b'] {
        padding: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }
}
