/*-------------------
CTA
--------------------*/
.ctaContainer {
  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  .ui.button.cta {
    background-color: @secondaryColor;
    color: @black;
    border-radius: 0;
  }
}
