#footer{
  background-color: @primaryColor;
  border-top: 10px solid @secondaryColor;
  position: relative !important;
  margin : 0;
  
  div.ui.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3rem;
    gap: 1rem;
    @media (max-width:@tabletBreakpoint){
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    a{
      text-decoration: none;
    }
    
    .text{
      background-color: @primaryColor;
      width: 300px;
      padding: 0;
      margin: 0;
      @media (max-width:@tabletBreakpoint){
        text-align: center;
        .plone-logo{
          display: grid;
          place-content: center;
        }
      }
    }
    
    .logo{
      position: absolute;
      top: -54px;
      left : 50%;
      transform: translateX(-50%);
      @media (max-width:@computerBreakpoint){
          height: 100px;
          top: -34px;
      }
    }

    .actions{
      text-align: right;
      @media (max-width:@tabletBreakpoint){
        text-align: center;
      }
    }

  }
}