#footer {
  position: relative !important;
  border-top: 10px solid @secondaryColor;
  margin: 0;
  background-color: @primaryColor;

  div.ui.container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3rem;
    gap: 1rem;
    @media (max-width: @tabletBreakpoint) {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    a {
      text-decoration: none;
    }

    .text {
      width: 300px;
      padding: 0;
      margin: 0;
      background-color: @primaryColor;
      @media (max-width: @tabletBreakpoint) {
        text-align: center;

        .plone-logo {
          display: grid;
          place-content: center;
        }
      }
    }

    .logo {
      position: absolute;
      top: -54px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: @computerBreakpoint) {
        top: -34px;
        height: 100px;
      }
    }

    .actions {
      text-align: right;
      @media (max-width: @tabletBreakpoint) {
        text-align: center;
      }

      .social-network {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;

        &:after {
          content: none;
        }

        a i {
          width: 21px;
          height: 24px;
          margin: 0;
        }
      }
    }
  }
}
