#main .block.hero {
  .block-inner-wrapper {
    display: grid;
    gap: 2rem;

    @media (min-width: @computerBreakpoint) {
      &.right {
        grid-template-columns: minmax(var(--aside-column-width), 1fr) 1fr;
      }

      &.left {
        grid-template-columns: 1fr minmax(var(--aside-column-width), 1fr);
      }
      grid-template-columns: minmax(var(--aside-column-width), 1fr) 1fr;
    }

    .hero-body {
      max-height: none;
      p{
        max-height: none;
      }
      .card();

      .title {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }

      .sub-title {
        margin-bottom: 1rem;
        font-weight: bold;
      }

      .ctaContainer button i.icon {
        transform: rotate(-25deg);
      }
      .link-more{
        margin-top: 1rem;
      }
    }

    .wrapper-aside {
      @media (max-width: @computerBreakpoint) {
        grid-row: ~'1 / 2';
      }
    }

    .hero-image {
      min-width: 100%;
      height: auto;
      min-height: 100%;
      object-fit: cover;
    }
  }
}
