body:not(.siteroot) #main {
  .breadcrumbs {
    padding: 0;
    border: 0;
    background-color: transparent;

    > div {
      .card();

      @media (max-width: 768px) {
        padding: 1rem !important;
        margin: 0 !important;
      }
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: @primaryColor;

      .breadcrumb {
        .section {
          color: @lightColor;
        }

        .divider {
          color: @lightColor;
        }
      }
    }
  }

  .content-area {
    padding-bottom: 0;
    margin-top: -1rem;
    margin-bottom: 0;

    main {
      height: 100%;

      > div {
        height: 100%;

        > div {
          height: 100%;
          padding-top: 1rem;
          .card();

          .documentFirstHeading {
            border: 0;
            font-size: 4rem;

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}
