.block.listing {
  .news-list {
    display: grid;
    @media (min-width: @computerBreakpoint) {
      grid-template-columns: 1fr 660px;
    }
  }

  .news-listing {
    display: grid;
    gap: 2rem;

    .news-body {
      display: flex;
      color: @darkColor;
      gap: 1rem;

      @media (max-width: @tabletBreakpoint) {
        flex-direction: column;
      }

      .card();

      .news-title {
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 2rem;
      }

      .news-image {
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          @media (max-width: @tabletBreakpoint) {
            width: 100%;
          }
        }
      }
    }
  }
}
