.talks-listing{
  .listing-item a{
    gap: 1rem;
  }
  .listing-image-wrapper{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    img{
      width: 150px;
      height: 150px;
    }
  }
  .too-many-speakers a{
    flex-direction: column;
    .listing-image-wrapper{
      flex-direction: row;
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
}