.block.listing.news{

  .news-list{
    display: grid;
    @media (min-width:@computerBreakpoint){
      grid-template-columns: 1fr 660px;
    }
  }
  .news-head-title{
    place-self: center;
    h2{
      color: @lightColor;
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .news-listing{
    display: grid;
    gap: 2rem;

    .news-body{
      display: flex;
      gap: 1rem;
      .card();

      .news-title{
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}