.siteroot .header .logo-nav-wrapper .logo {
  position: relative;

  .mask-logo {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    background: @pageBackground;
    transition: all 0.4s ease;

    &-initial {
      height: 100%;
    }

    &-sticky {
      height: 0;
    }
  }
}

.siteroot {
  #page-document {
    .block.image:first-child {
      position: relative;
      z-index: 10;
      margin-top: -60px;
      pointer-events: none;
      @media screen and (min-width: @computerBreakpoint) {
        left: 170px;
        text-align: left;
      }
    }
  }
}
