:root {
  --card-padding-top: 4rem;
  --card-padding: 3rem;
}

.card() {
  padding-top: var(--card-padding-top);
  padding-right: var(--card-padding);
  padding-bottom: var(--card-padding);
  padding-left: var(--card-padding);
  background-color: @lightColor;
  box-shadow: 0px 3px 6px hsla(0, 0, 0, 0.1);
  @media (max-width: @tabletBreakpoint) {
    --card-padding-top: 3rem;
    --card-padding: 2rem;
  }
}
