/*-------------------
Sponsors
--------------------*/
#main .sponsors {
  display: grid;
  margin-top: 30px;
  gap: 2rem;
  @media (max-width: @tabletBreakpoint) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  @media (min-width: @computerBreakpoint) {
    .wrapper-aside {
      place-content: start;

      .aside-title {
        margin-left: 8rem;
      }
    }
  }

  .sponsorLevel {
    position: relative;
    overflow: hidden;
    @media (max-width: @tabletBreakpoint) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .card();

    > .sponsorList {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: start;
      @media (max-width: @tabletBreakpoint) {
        justify-content: center;
      }
    }

    .sponsor_icon {
      position: absolute;
      top: -48px;
      right: -60px;
    }

    h3 {
      font-size: 2rem;
      text-transform: uppercase;

      .sponsor_title {
        color: @primaryColor;
      }
    }
  }

  .sponsor {
    align-self: center;
    padding: 15px;
    text-align: center;

    &.diamond {
      img {
        max-width: 450px;
        max-height: 450px;
      }
    }

    &.platinum {
      img {
        max-width: 390px;
        max-height: 390px;
      }
    }

    &.gold {
      img {
        max-width: 300px;
        max-height: 300px;
      }
    }

    &.silver {
      img {
        max-width: 240px;
        max-height: 240px;
      }
    }

    &.bronze {
      img {
        max-width: 150px;
        max-height: 150px;
      }
    }

    &.supporting {
      img {
        max-width: 90px;
        max-height: 90px;
      }
    }

    &.oss {
      img {
        max-width: 90px;
        max-height: 90px;
      }
    }

    &.patron {
      img {
        max-width: 90px;
        max-height: 90px;
      }
    }

    &.organizer {
      img {
        max-width: 300px;
        max-height: 300px;
      }
    }
  }
}

body:not(.siteroot) #main {
  .sponsors {
    overflow: hidden;
    margin-right: calc(0rem - var(--card-padding));
    margin-left: calc(0rem - var(--card-padding));

    .sponsorLevel {
      box-shadow: 0px 1px 6px 2px hsla(0, 0%, 0%, 0.1);
    }
  }
}
