.talk-view{
  .talk-header{
    display: flex;
    flex-direction: row;
    .talk-content{
      margin-bottom: 2rem;
    }
    .speaker-image-wrapper{
      display: flex;
      flex-direction: column;
      .listing-item, .listing-item a{
        width: fit-content;
      }
    }
  }
  &.too-many-speakers .talk-header{
    flex-direction: column;
    .speaker-image-wrapper{
      flex-wrap: wrap;
      flex-direction: row;
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
  
}