#main .teaserGrid {
  .ui.grid {
    display: grid;
    margin: 0;
    gap: 1rem;

    .grid-block-teaser {
      width: 100%;
      .card() !important;
    }
  }
}

@media (min-width: @computerBreakpoint) {
  .ui[class*='one column'].grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .ui[class*='two column'].grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ui[class*='three column'].grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .ui[class*='four column'].grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block.teaser .grid-image-wrapper,
.block.teaser .grid-teaser-item {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

  img {
    // [2] Transition property for smooth transformation of images
    transition: transform 0.5s ease;
  }

  &:hover img {
    // [3] Finally, transforming the image when container gets hovered
    transform: scale(1.05);
  }
}
